/*

style.css

*/

@import 'https://fonts.googleapis.com/css?family=Montserrat';
body {
  background: #607D8B;
  overflow: auto;
}

html {
  overflow: auto;
}

div {
  display: block;
}

a,
p {
  color: white;
  font-weight: bold;
  margin: 5px auto;
}

ul {
  list-style: none;
}


/* Header */

.top-bar,
.top-bar ul {
  background: none;
  color: white;
}

.logo {
  max-width: 80px;
}

.top-bar-left {
  width: 30%!important;
}


/* Jumbotron */

#jumbotron {
  background-color: transparent;
  background-position: bottom;
  background-size: contain;
  background-repeat: repeat-x;
  height: 800px;
  width: 100%;
}

.jumbologo {
  display: inline-block;
}

#jumbH {
  font-size: 80px;
}

.info {
  margin-top: 80px;
}

.container {
  width: 680px;
  height: 295px;
  display: block;
  padding: 0;
  border-radius: 20px 20px 0px;
  margin: 100px auto;
  position: relative;
  clear: both;
}

.container:after {
  display: block;
  clear: both;
}

.left {
  width: 300px;
  text-align: center;
  float: left;
  display: block;
  position: relative;
  box-shadow: 48px 94px 66px -95px black;
}

.right {
  width: 370px;
  display: block;
  /*padding: 20px;*/
  float: left;
}

.profile {
  border-radius: 50%;
  margin-top: 10px;
  width: 150px;
  height: 150px;
  position: relative;
  box-shadow: -17px -2px 13px -14px black;
}

h1 {
  font-family: Montserrat;
  font-size: 30px;
  color: white;
  margin-top: 10px;
  position: relative;
  z-index: 40;
}

.background {
  height: 287px;
  width: 300px;
  background-color: #2c3e50;
  position: relative;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 10px;
}

.background:after {
  height: 300px;
  width: 300px;
  content: " ";
  background: #34495e;
  position: absolute;
  right: -268px;
  top: -41px;
  transform: rotate(79deg);
  box-shadow: 10px -2px 22px black;
}

.flip-it {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: "FlipH";
  filter: FlipH;
}


/* Right */

.right h1 {
  margin: 0px;
  font-size: 25px;
  color: white;
}

.background-right {
  background: linear-gradient(to right, rgba(52, 73, 94, 1) 0%, rgba(125, 185, 232, 0) 100%);
  position: relative;
  z-index: 0;
  padding: 10px;
  border-bottom-left-radius: 12px;
}

.right {
  background: slategray;
  position: relative;
  z-index: -1;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}

.meter {
  height: 15px;
  /* Can be anything */
  position: relative;
  background: #0e1f2f;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 4px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.meter>span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43, 194, 83);
  background-image: linear-gradient( center bottom, rgb(43, 194, 83) 37%, rgb(84, 240, 84) 69%);
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
}

.arrow {
  clear: both;
  width: 0;
  height: 0;
  display: block;
  position: relative;
  border-top: 69px solid #34495e;
  border-bottom: 0px solid transparent;
  border-left: 75px solid transparent;
  top: -68px;
  left: 177px;
}

.arrow:after {
  clear: both;
  width: 0;
  height: 0;
  content: "";
  display: block;
  position: relative;
  border-top: 66px solid #34495e;
  border-bottom: 0px solid transparent;
  border-left: 50px solid #34495e;
  top: -66px;
  left: 0px;
}

.list {
  color: white;
  font-weight: bold;
  padding-bottom: 20px;
  margin: 0;
}

.list li {
  display: inline;
}

li a {
  font-size: 20px;
  line-height: 36px
}


/* Project Section */

#project-section {
  background: #2c3e50;
}

#projects h2 {
  color: #fff;
  padding: 20px;
  text-align: center;
}

.section-item {
  float: left;
  height: 139px;
  width: 20%;
  cursor: pointer;
  color: #888;
  line-height: 1;
  font-size: 20px;
  text-align: center;
  box-sizing: border-box;
  border-right: 1px solid #e5e5e5;
  -webkit-transition-duration: .35s;
  transition-duration: .35s;
  -webkit-transition-property: color, background-color, border-color;
  transition-property: color, background-color, border-color;
  white-space: nowrap;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.sections p {
  color: black;
}

.project-item {
  background: white;
  padding: 10px;
  min-height: 200px;
  border-radius: 10px;
  margin-top: 10px;
  transform: scale(.9);
  opacity: .8;
  overflow: hidden;
}

.project-item:hover {
  animation-name: focus-up;
  animation-fill-mode: forwards;
  animation-duration: 500ms;
}

@keyframes focus-up {
  0% {
    opacity: .8;
    box-shadow: 0px 36px 0px -30px black;
    transform: scale(.9);
  }
  100% {
    opacity: 1;
    box-shadow: 0px 36px 29px -30px black;
    transform: scale(1);
  }
}

.project-item img {
  width: 100%;
}

.project-item p {
  color: #2c3e50;
}

.project-item-btn {
  background: #d5d7da;
  border: 2px solid #2c3e50;
  color: #2c3e50;
  padding: 20px;
  display: block;
  margin-bottom: 0;
  text-align: center;
}

.project-item-btn:hover {
  background: #2c3e50;
  color: #d5d7da;
  border: 2px solid #d5d7da;
}

.slideUp {
  animation-name: slideUp;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes slideUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}


/* About Section */

#about-section h2 {
  text-align: center;
}


/* Footer Section */

footer {
  background: #2c3e50;
  padding: 20px 0;
  margin-top: 40px;
}

#moving {
  position: absolute;
  height: 100%;
  width: 100%;
}


/* Surface Shader */

/*html {*/
/*  display: table;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*}*/

/*body {*/
/*  display: table-cell;*/
/*  margin: 0;*/
/*  vertical-align: middle;*/
/*  text-align: center;*/
/*  font: 300 20px/1.4 Roboto, 'Open Sans', Helvetica, Arial, sans-serif;*/
/*  color: #fff;*/
/*  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.66);*/
/*  background: #4D4646 50% 50% no-repeat;*/
/*  background-size: cover;*/
/*}*/

.background-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

noindex:-o-prefocus,
.background-container {
  display: none;
}


/* Hide background in old Opera because of lags */

.content {
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  padding: 40px 0;
}